.logout-button-container {
  display: flex;
  position: relative;
}
.logout-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}



.place-card-container {
  width: 296px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card-image {
  width: 100%;
  height: 386px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.rootClassName {
  align-self: flex-end;
}
.rootClassName1 {
  align-self: flex-end;
}
.rootClassName2 {
  align-self: flex-end;
}
.rootClassName3 {
  align-self: flex-end;
}
.rootClassName4 {
  align-self: flex-end;
}
.rootClassName5 {
  align-self: flex-end;
}
.rootClassName6 {
  align-self: flex-end;
}
.rootClassName7 {
  align-self: flex-end;
}
.rootClassName8 {
  align-self: flex-end;
}
@media(max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}

.landing-page-logout-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #0b1622;
}
.landing-page-logout-top-container {
  width: 100%;
  height: 164px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #19212d;
}
.landing-page-logout-navbar {
  width: 1060px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 100%;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #19212d;
}
.landing-page-logout-image {
  width: 100px;
  object-fit: cover;
}
.landing-page-logout-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-logout-text {
  color: var(--dl-color-gray-white);
}
.landing-page-logout-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.landing-page-logout-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-logout-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-logout-text2 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-doubleunit);
}
.landing-page-logout-burger-menu {
  width: 24px;
  height: 24px;
  display: none;
}
.landing-page-logout-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.landing-page-logout-text4 {
  color: var(--dl-color-gray-white);
}
.landing-page-logout-cards-container {
  width: 952px;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-logout-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.landing-page-logout-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.landing-page-logout-links-container1 {
  width: 100%;
  height: 99px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.landing-page-logout-container3 {
  height: 30px;
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.landing-page-logout-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .landing-page-logout-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .landing-page-logout-right-side {
    display: none;
  }
  .landing-page-logout-burger-menu {
    display: flex;
  }
  .landing-page-logout-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-logout-menu {
    flex-direction: column;
  }
  .landing-page-logout-links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .landing-page-logout-links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-logout-container3 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .landing-page-logout-link {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
