.genre-container {
  display: flex;
  position: relative;
}
.genre-button {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-white);
  border-width: none;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.rootClassName {
  align-self: flex-start;
}
.rootClassName1 {
  align-self: flex-start;
}
.rootClassName2 {
  align-self: flex-start;
}
.rootClassName3 {
  align-self: flex-start;
}
.rootClassName4 {
  align-self: flex-start;
}
.rootClassName5 {
  align-self: flex-start;
}
.rootClassName6 {
  align-self: flex-start;
}
.rootClassName7 {
  align-self: flex-start;
}
.rootClassName8 {
  align-self: flex-start;
}
